@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: "Jura", sans-serif;
  }
  
  
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
  }
  
  .center {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  


  .content {
     width: 60%;
     margin: 0 0;
     z-index: -1;
     position: absolute;
     top: 60%;
     left: 10%;
     transform: translate(0, -50%);
}

.content h1 {
     font-family: Poppins;
     font-size: 54px;
     color: #101010;
     font-weight: 700;
     text-transform: uppercase;
     margin-bottom: 10px;
}

.content p {
     margin-top: 0;
     text-align: left;
     color: #101010;
     font-weight: 400;
}

.overlay-2 {
     z-index: 0;
     position: absolute;
     width: 100%;
     height: 100vh;
     background: #005A9C
}

.overlay {
     z-index: 1;
     position: absolute;
     width: 100%;
     height: 100vh;
     background: #101010;
}

.overlay p {
     font-size: 300px;
     font-weight: 800;
}

.screen {
     color: #323232;
     font-family: Poppins;
     position: absolute;
     top: 12%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.myBtn {
     font-family: Poppins;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

button {
     display: block;
     padding: 24px 48px;
     font-family: Poppins;
     font-weight: 700;
     font-size: 12px;
     letter-spacing: 6px;
     color: #fff;
     border: 2px solid #fff;
     text-transform: uppercase;
     outline: none;
     overflow: hidden;
     background: none;
     z-index: 1;
     cursor: crosshair;
     transition: 0.8s ease-out;
}

.myBtn:hover {
     color: #101010;
     cursor: crosshair;
}

.myBtn:before {
     content: "";
     position: absolute;
     background: #fff;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.myBtn:hover:before {
     top: 0;
}

   

/* Navigation */
/* Menu Icon */
.menu-icon {
	position: fixed;
	top: 3.5rem;
	right: 0;
	width: 12rem;
	height: 7rem;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	cursor: pointer;
	transform: translate(-50%, -50%);
	transition: opacity 0.2s;
  }
  
  .menu-icon-line {
	width: 4rem;
	height: 0.1rem;
	background-color: #fff;
	margin: 0.5rem 0;
	box-shadow: 0 0.3rem 0.5rem #000;
  }
  
  .show-menu-icon {
	opacity: 1;
	visibility: visible;
  }
  /* End of Menu Icon */
  .image img {
	position: absolute;
	top: 2rem;

  }

  .design {
	position: absolute;
	top: 2rem;
	width: 3px;
	height: 4rem;
	color: red;
	left: 60rem;

  }
  /* Navbar */
  .navbar {
	position: fixed;
	top: 2.5rem;
	width: 100%;
	display: flex;
	left: 50rem;
	padding-right: 3rem;
	z-index: 100;
	transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  }
  
  .navbar-link {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	color:  #495463;
	margin: 0 2.5rem;
	text-shadow: 0 0.3rem 0.5rem #000;
  }
  

  /* End of Navbar */
  /* End of Navigation */

  section{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #242830;
	overflow: hidden;
	background-repeat: no-repeat;
  }


  section .air{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
	background-size: 1000px 100px;
  }

  section .air.air1{
	animation: wave 30s linear infinite;
	z-index: 1000;
	opacity: 1;
	animation-delay: 0s;
	bottom: 0;
	
  }
  section .air.air2{
	animation: wave2 15s linear infinite;
	z-index: 999;
	opacity: 0.5;
	animation-delay: -5s;
	bottom: 10px;
	
	
  }
  section .air.air3{
	animation: wave 30s linear infinite;
	z-index: 998;
	opacity: 0.2;
	animation-delay: -2s;
	bottom: 15px;

  }
  section .air.air4{
	animation: wave2 5s linear infinite;
	z-index: 997;
	opacity: 0.7;
	animation-delay: -5s;
	bottom: 20px;

  }
  @keyframes wave{
	0%{
	  background-position-x: 0px; 
	}
	100%{
	  background-position-x: 1000px; 
	}
  }
  @keyframes wave2{
	0%{
	  background-position-x: 0px; 
	}
	100%{
	  background-position-x: -1000px; 
	}
  }

.section-1 {
	position: absolute;
	width: 100%;
	height: 110rem;
}

.tikal img {
	position: absolute;
	top: 19rem;
	right: 0rem;
	width: 60rem;
	height: 60rem;
}

/* Gold */
.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 1rem;
 border-radius: 50%;
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(253,93,46,1) 35%, rgba(252,176,69,1) 75%);
}


.stage {
	position: fixed;
  width: 25rem;
  height: 25rem;
background: none;
	top:7rem;
	left: 135rem;
	transform: translate(-50%, -50%);
	animation: myfirst 1.5s infinite linear;
	}
	
	@keyframes myfirst {
		0% {
			transform: translate(-50%, -50%) rotate(0deg);
		}
	
		100% {
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}
	
.gold-1 {
	position: fixed;
	top: 36.5rem;
	height: 3px;
	width: 30rem;
	left: 5rem;
	background-color: red;
	transform: rotate(345deg);
	opacity: 0.5;
}

.gold-1-2 {
	position: fixed;
	top: 22.5rem;
	height: 3px;
	width: 20rem;
	left: 60rem;
	background-color: red;
	transform: rotate(345deg);
	opacity: 0.5;
}


.gold-1-3 {
	position: fixed;
	top: 13rem;
	height: 3px;
	width: 10rem;
	left: 100rem;
	background-color: red;
	transform: rotate(345deg);
	opacity: 0.5;
}

.gold-2 {
	position: fixed;
	top: 43rem;
	height: 3px;
	width: 30rem;
	left: 40rem;
	background-color: rgb(255, 102, 0);
	transform: rotate(339deg);
	opacity: 0.5;
}

.gold-2-2 {
	position: fixed;
	top: 29rem;
	height: 3px;
	width: 20rem;
	left: 80rem;
	background-color: rgb(255, 102, 0);
	transform: rotate(339deg);
	opacity: 0.5;
}


.gold-2-3 {
	position: fixed;
	top: 19rem;
	height: 3px;
	width: 10rem;
	left: 110rem;
	background-color: rgb(255, 102, 0);
	transform: rotate(339deg);
	opacity: 0.5;
}

.gold-3 {
	position: fixed;
	top: 69rem;
	height: 3px;
	width: 30rem;
	left: 25rem;
	background-color: red;
	transform: rotate(332deg);
	opacity: 0.5;
}

.gold-3-2 {
	position: fixed;
	top: 45rem;
	height: 3px;
	width: 20rem;
	left: 75rem;
	background-color: red;
	transform: rotate(332deg);
	opacity: 0.5;
}


.gold-3-3 {
	position: fixed;
	top: 30rem;
	height: 3px;
	width: 10rem;
	left: 108rem;
	background-color: red;
	transform: rotate(332deg);
	opacity: 0.5;
}
/* End of Gold */


.design {
	position: fixed;
}
.one {
	position: absolute;
	top: 2rem;
	width: 3px;
	height: 3rem;
	background-color: silver;
	left: -50.2rem;
	transform: rotate(35deg);
  }
  
  .two {
	position: absolute;
	top: 1.6rem;
	width: 3px;
	height: 6rem;
	background-color: silver;
	left: -40.9rem;
	transform: rotate(140deg);
  }
  
  .three {
	position: absolute;
	top: 2.2rem;
	width: 6.7rem;
	height: 3px;
	background-color: silver;
	left: -49.3rem;
  }

  .four {
	position: absolute;
	top: 1.7rem;
	width: 3px;
	height: 6rem;
	background-color: silver;
	left: -41rem;
	transform: rotate(35deg);
  }
  
  .five {
	position: absolute;
	top: 3.5rem;
	width: 3px;
	height: 6rem;
	background-color: silver;
	left: -45.5rem;
	transform: rotate(90deg);

  }
  
  .six {
	position: absolute;
	top: 5.4rem;
	width: 3rem;
	height: 3px;
	background-color: silver;
	left: -51rem;
	transform: rotate(35deg);
  }

  .seven {
	position: absolute;
	top: 6.7rem;
	width: 6.6rem;
	height: 3px;
	background-color: silver;
	left: -38.9rem;
	transform: rotate(180deg);
  }

  .eight {
	position: absolute;
	top: 2.2rem;
	width: 6.7rem;
	height: 3px;
	background-color: silver;
	left: -39rem;
  }

  .nine {
	position: absolute;
	top: 1.7rem;
	width: 3px;
	height: 6rem;
	background-color: silver;
	left: -30.8rem;
	transform: rotate(35deg);
  }

  .ten {
	position: absolute;
	top: 1.6rem;
	width: 3px;
	height: 6rem;
	background-color: silver;
	left: -30.8rem;
	transform: rotate(140deg);
  }

  .eleven {
	position: absolute;
	top: 2.2rem;
	width: 6.7rem;
	height: 3px;
	background-color: silver;
	left: -28.8rem;
  }

  .twelve {
	position: absolute;
	top: 6.7rem;
	width: 6.6rem;
	height: 3px;
	background-color: silver;
	left: -28.8rem;
	transform: rotate(180deg);
  }

  .thirteen {
	position: absolute;
	top: 1.7rem;
	width: 3px;
	height: 6rem;
	background-color: silver;
	left: -20.7rem;
	transform: rotate(35deg);
  }

  .fourteen {
	position: absolute;
	top: 1.6rem;
	width: 3px;
	height: 6rem;
	background-color: silver;
	left: -20.7rem;
	transform: rotate(140deg);
  }

  .fifteen {
	position: absolute;
	top: 2.2rem;
	width: 6.7rem;
	height: 3px;
	background-color: silver;
	left: -19rem;
  }

  .sixteen {
	position: absolute;
	top: 6.7rem;
	width: 6.6rem;
	height: 3px;
	background-color: silver;
	left: -19rem;
	transform: rotate(180deg);
  }

  .seventeen {
	position: absolute;
	top: 4rem;
	width: 3px;
	height: 3rem;
	background-color: silver;
	left: -11.8rem;
	transform: rotate(35deg);
  }

  .eighteen {
	position: absolute;
	top: 3.2rem;
	width: 3rem;
	height: 3px;
	background-color: silver;
	left: -13rem;
	transform: rotate(35deg);
  }

  .nineteen {
	position: absolute;
	top: 4rem;
	width: 90rem;
	height: 3px;
	background-color: silver;
	left: -10.5rem;
  }

  /* God */
  .title {
	position: absolute;
	padding: 0;
	top: 10rem;
	left: 3rem;
	color: silver;
	font-family: "Great Vibes", cursive;
	font-size: 5rem;
  }
  
  .definition {
	position: absolute;
	padding: 0;
	top: 16.5rem;
	left: 5rem;
	width: 50rem;
	font-size: 2.3rem;
	color: #0270D7;
	font-family: "Noto Sans", sans-serif;

  }

  .cruz {
	position: absolute;
	width: 10px;
	height: 25rem;
	background-color: red;
	top: 50rem;
	left: 25rem;
  }

  .cross {
	position: absolute;
	width: 10rem;
	height: 10px;
	background-color: red;
	top: 55rem;
	left: 20.5rem;
  }
  /* End of God */

  
/* iM Wireless logo */
.wireless-logo {
	position: absolute;
	top: 60rem;
	left: 58rem;
	visibility: visible;
}

.bg {
	border: 2px solid transparent;
	position: absolute;
	width: 25rem;
	height: 10rem;
	top: -2.5rem;
	display: flex;
	border-radius: 10px;
	transition: all 1s;
	background-color: rgb(190, 74, 42);
  }
  
  .line-1 {
	position: absolute;
	height: 100px;
	width: 1px;
	top: 0.5rem;
	left: 1rem;
	background-color: silver;
	display: block;
  }
  

  .line-2 {
	position: absolute;
	height: 1px;
	width: 120px;
	top: 0.5rem;
	left: 1rem;
	background-color: silver;
	
 }

 .line-2 {
	height: 1px;
	width: 80px;
	animation-name: slide1;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	top: 8.9rem;
	left: 16.2rem;
  }
  
@keyframes slide1 {
	0%{
		left: -50rem;
		top: 0.5rem;
	 }
	 100%{
		left: 1.2rem;
		top: 0.5rem;
	 }
}

 


  .line-3 {
	position: absolute;
	height: 85px;
	width: 1px;
	top: 0.5rem;
	left: 23.5rem;
	background-color: silver;
	display: block;
  }
  
  .line-4 {
	position: absolute;
	height: 1px;
	width: 120px;
	top: 8.9rem;
	left: 16rem;
	background-color: silver;
  }
  
    .line-4 {
	height: 1px;
	width: 80px;
	animation-name: slide;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	top: 8.9rem;
	left: 16.2rem;
  }
  
@keyframes slide {
	0%{
		left: 50rem;
		top: 8.9rem;
	 }
	 100%{
		right: 18rem;
		top: 8.9rem;
	 }
}

  .span-1 {
	position: absolute;
	content: \F285;
	  font-size: 6rem;
	  left: -14rem;
	  margin-top: -2.4rem;
	  color: silver;
	  display: block;
  }
  
  .i {
	  position: absolute;
	  font-size: 1.4rem;
	  font-family: 'DM Serif Display', serif;
	  font-weight: 400;
	  justify-content: center;
	  margin-left: 11.2rem;
	  margin-top: 4.5rem;
	  color: silver;
	  display: block;
  }
  
  .m {
	position: absolute;
	font-size: 2rem;
	margin-top: 4rem;
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
	justify-content: center;
	margin-left: 11.5rem;
	color: silver;
	display: block;
  }
  
  .span-2 {
	  position: absolute;
	  margin-left: -6.8rem;
	  margin-top: 5.9rem;
	  content: "\F284";
	  font-size: 6rem;
	  color: silver;
	  display: block;
  }
  
  .wireless {
	  position: absolute;
	  left: 1.5rem;
	  font-size: 1.5rem;
	  margin-top: 7.5rem;
	  font-family: "Great Vibes", cursive;
	  font-weight: 400;
	  font-style: normal;
	  color: silver;
	  display: block;
  }
  
  .bi {
	position: absolute;
	left: 22.5rem;
	top: 2.5rem;
  }
  
  .laptop {
	position: absolute;
	content: \F456;
	top: 3.3rem;
	left: -2rem;
	display: block;
  }
  
  .code {
	position: absolute;
	top: 3.5rem;
	left: -1.4rem;
	background-color: #aaa;
	display: block;
  }


  .line-1 {
	width: 1px;
	height: 85px;
	position: relative;
	animation-name: right;
	animation-duration: 8s;
	animation-iteration-count: infinite;
  }
  
  @keyframes right {
	0% { 
  left:-50rem;
}
	100% {
  left:23.7rem;
}
  }
  
  .line-3 {
    width: 1px;
    height: 85px;
    position: relative;
    animation-name: left;
    animation-duration: 8s;
	animation-iteration-count: infinite;
    }
    
    @keyframes left {
    100% { 
    left:1rem;
  }
    0% {
    left:50rem;
  }
    }

  /* End of iM Wireless logo */


 /* Logos */
 .logos {
	position: absolute;
	width: 100%;
    top: 80rem;
  }
  
	.pic1 img {
	  position: absolute;
	  left: 3rem;
	  width: 10rem;
	  top: 1rem;
	  height: 8rem;
	}
	
	.pic2 img {
	  position: absolute;
	  left: 15rem;
	  top: 3rem;
	  width: 10rem;
	  height: 6rem;
	}
  
	.pic3 img {
	  position: absolute;
	  left: 27rem;
	  width: 8rem;
	  height: 4rem;
	  top: 4.5rem;
	}
  
	.pic4 img {
	  position: absolute;
	  left: 40rem;
	  width: 10rem;
	  height: 5rem;
	  top: 3rem;
	}
  
	.pic5 img {
	  position: absolute;
	  left: 55rem;
	  width: 8rem;
	  height: 5rem;
	  top: 3rem;
	}
  
	.pic6 img {
	  position: absolute;
	  left: 72rem;
	  width: 3rem;
	  height: 6rem;
	  top: 2rem;
	}
  
	.pic7 img {
	  position: absolute;
	  left: 80rem;
	  width: 8rem;
	  height: 6rem;
	  top: 2rem;
	}
  
	.pic8 img {
	  position: absolute;
	  left: 93rem;
	  width: 8rem;
	  height: 6rem;
	  top: 1.5rem;
	}
  
	.pic9 img {
	  position: absolute;
	  left: 104rem;
	  width: 8rem;
	  height: 6rem;
	  top: 2.5rem;
	}
  
	.pic10 img {
	  position: absolute;
	  left: 116rem;
	  width: 10rem;
	  height: 6rem;
	  top: 2rem;
	}
	
	.pic11 img {
	  position: absolute;
	  left: 132rem;
	  width: 8rem;
	  height: 6rem;
	  top: 2rem;
	}
  
	.pic12 img {
	  position: absolute;
	  left: 130rem;
	  width: 10rem;
	  height: 6rem;
	  top: 2rem;
	}
	/* End of Logos */


/* Footer */

.section-10 {

	position: absolute;
	Width: 100rem;
	height: 50rem;
}

/* End of Footer */





